name: Lint

on:
  pull_request:
  push:

# Cancel previous runs when a new commit is pushed.
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  ansible-ee-version:
    name: Ansible EE Version
    runs-on: ubuntu-latest

    if: >-
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    env:
      # renovate: docker=ghcr.io/ansible-community/community-ee-minimal
      version: 2.20.1-1

    steps:
      - name: Verify Ansible version matches image version
        run: |
          expect="${{ env.version }}"
          expect="${expect%%-*}"

          actual="$(docker container \
                           run \
                           --rm \
                           "ghcr.io/ansible-community/community-ee-minimal:${{ env.version }}" \
                           ansible --version |
                    grep --fixed-strings 'ansible [core ')"
          actual="${actual##*core }"
          actual="${actual%%]*}"

          echo "expect=$expect, actual=$actual"
          [[ "$expect" == "$actual" ]]
